@model WebAppForMORecSys.Models.ViewModels.UserBlockRule
<form asp-controller="Movies" asp-action="UserBlockSettings" method="post" class="moviecreateblockrule">
    
   

    <label for="igenre">Genre</label>

    <select class="selectpicker" multiple data-live-search="true" name="genres" placeholder="Genres">
        @foreach (var genre in Movie.AllGenres)
        {
            <option>@genre</option>
            
        }
    </select>
    <br />
    <br />
    <label for="idirector">Director</label>
    <input class="form-control rounded m-3" type="text" id="idirector" name="director" placeholder="Director"/>
    <br />
    <br />
    <label for="iactor">Actor</label>
    <input class="form-control rounded m-3" type="text" id="iactor" name="actor" placeholder="Actor" />
    <br />
    <br />

    <input type="hidden" name="type" placeholder="Type" value="Create" />


    <input class="form-control rounded m-3" type="submit" class="btn-secondary" value="CREATE NEW BLOCK RULES" />
</form>

<script>
    $('select').selectpicker();
</script>
<!--
<script>
    function validate(inputId, parameterName, method){
        var value = $(this).attr('value');
        var jsonText = JSON.stringify({ parameterName: value });
        $.ajax({
            url: '../Movies/' + method,
            data: jsonText,
            cache: false,
            success: function (data) {
                $('#DetailsDiv').html(data);
                document.getElementById("DetailsDiv").style.display = ""
                document.getElementById("Previews").style.display = "none";
            }
        });
    }
</script>
-->

