@using static WebAppForMORecSys.Helpers.MovieHelper
@model WebAppForMORecSys.Models.HomeViewsModels.MainViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @await Html.PartialAsync("../Movies/MovieFilter")
</div>
<div id="main">
    <div id="openfilterbtn"><button id="openfilterbtn " class="openbtn" onclick="openNav()">&#9776; Open Filter</button></div>
    <div id="closefilterbtn" style="display:none"> <button class="openbtn" onclick="closeNav()">&#9776; Close Filter</button></div>
    <form asp-controller="Movies" asp-action="Index" method="get">
        <div class="form-floating mb-3">
            @await Html.PartialAsync("../Home/Search")
            @await Html.PartialAsync("../Home/MetricsFilter", Model)
        </div>
    </form>
    <div id="DetailsDiv" style="margin-bottom:5px;"></div>
    <div id="MoviePreviews" style="width:100%">
    @foreach (var item in Model.Items)
    {
            @await Html.PartialAsync("../Movies/MoviePreview", new MovieUserUserratings(new Movie(item), Model.CurrentUser, Model.CurrentUserRatings))
    }
    </div>
    
</div>


<script>
    $(document).ready(function () {
        SetAutoComplete("titlesearch", "Movies/GetAllMovieNames");
        SetAutoComplete("idirector", "Movies/GetAllDirectors");
        SetAutoComplete("iactor", "Movies/GetAllActors");


    });
    function SetAutoComplete(textbox, url) {
    $("#" + textbox).autocomplete(
        {
            source: function (request, response) 
            {
                $.ajax(
                    {
                    url: url,
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    }
    
        
    
</script>

<script>

/* For showing and closing sidebar filter*/
function openNav() {
    document.getElementById("mySidebar").style.width = "25%";
    document.getElementById("main").style.marginLeft = "25%";
    document.getElementById("openfilterbtn").style.display = "none";
    document.getElementById("closefilterbtn").style.display = "";

}

function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.getElementById("closefilterbtn").style.display = "none";
    document.getElementById("openfilterbtn").style.display = "";
}
</script>

<!-- For showing detail on the same page -->
<!-- <script src="~/Scripts/jquery-2.2.0.js"></script> -->
<script>
    
    $(document).ready(function () {
        $(".ajaxdetail").on("click", function (e) {
            e.preventDefault();
            var elementUrl = $(this).attr('href');
            $.ajax({
                url: elementUrl,
                cache: false,
                success: function (data) {
                    $('#DetailsDiv').html(data);
                    document.getElementById("DetailsDiv").style.display = ""
                    document.getElementById("MoviePreviews").style.display = "none";
                }
            });            
        });        
    });

    function BackToList() {
        document.getElementById('DetailsDiv').style.display = "none";
        document.getElementById('DetailsDiv').innerHTML="";
        document.getElementById("MoviePreviews").style.display = "";
    }

    function hide(itemId) {
        var list = $('.preview_' + itemId);
        list[0].style.opacity = 0.2;
        list[0].getElementsByClassName("hideimg")[0].style.display = "none";
        list[0].getElementsByClassName("showimg")[0].style.display = "";
        list = $('.MovieDetail_' + itemId);
        if (list.length > 0) {
            list[0].style.opacity = 0.2;
            var x = list[0].getElementsByClassName("hideimg")[0];
            list[0].getElementsByClassName("hideimg")[0].style.display = "none";
            list[0].getElementsByClassName("showimg")[0].style.display = "";
        }
    }

    function show(itemId) {
        var list = $('.preview_' + itemId);
        list[0].style.opacity = 1;
        list[0].getElementsByClassName("showimg")[0].style.display = "none";
        list[0].getElementsByClassName("hideimg")[0].style.display = "";
        list = $('.MovieDetail_' + itemId);
        if (list.length> 0){
            list[0].style.opacity = 1;
            var x = list[0].getElementsByClassName("showimg")[0];
            list[0].getElementsByClassName("showimg")[0].style.display = "none";
            list[0].getElementsByClassName("hideimg")[0].style.display = "";
        }
    }
</script>

