@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>Informed consent</h3>
<p>Before starting with the research, you should familiarize yourself and agree with the following statements:</p>
<ul>
    <li>
        <p>
            I familiarize myself with the aim and targets of the research project (see below) and I do not mind to contribute on it (ie, the research topic does not go against my beliefs etc.). I agree that authors of the project may utilize my (anonymous) responses and my demographic data while presenting research outcomes -e.g. in scientific papers. I do not require any additional monetary compensation for my participation in the research. (Nonetheless, we will really appreciate your help! Plus, there is a good feeling for helping the science. :-))
        </p>
    </li>
    <li>
        <p>
            We will never publish data that could breach your identity (we do not have such data anyway:-). We also neither share your e-mail address to third parties nor disclose it publicly. In the prospective thesis, we would like to publish an anonymized dataset of responses. The dataset should contain following information:
            <ul>
                <li>randomly generated ID of the participant (i.e. UID - 468201)</li>
                <li>demographic data of the participant (age group, gender, machine learning familiarity)</li>
                <li>participant's responses to individual tasks</li>
            </ul>
        </p>
    </li>
    <li>
        <p>
            In the dataset, there will be no mapping between the ID of the user and their true identity (we do not have such data anyway).
        </p>
    </li>
    <li>
        <p>
            You can stop your participation at any time (just close the browser window:-)). You can always revert your consent to use your responses - just write to us with your details (submitted e-mail, time when you started participation etc.) If you did submit your e-mail, but do not want to receive any new messages from us (we don't expect to send any), just write us an email.
        </p>
    </li>
    <li>
        <p>
            PS: Any disputes (hopefully, none should arise:-)) will be governed by the law and jurisdiction of Czech Republic.
        </p>
    </li>
</ul>
<br/>
<br/>
<h3>Contact</h3>
<p>patrik.machala82@gmail.com</p>
<p>Ladislav.Peska@matfyz.cuni.cz</p>
<br />
<br />
<h3>Aims and targets of the research projects</h3>
<p>This study is being conducted as part of student work and research in the area of recommender systems at Charles University.</p>
<p>The main aim of this study is to find out how users behave in domain where they are able to tweak the recommendations objectives / metrics and how users value different options of this domain.</p>
<p>The partial targets more specificily are to find out:</p>
<ul>
    <li>
        <p>if users appreciate the possibility to change recommending by tweaking the objectives / metrics<p>
    </li>
    <li>
        <p>which mechanism for tweaking the objectives / metrics users find best<p>
    </li>
    <li>
        <p>how users understand different objectives / metrics and which variants of these metrics they find best<p>
    </li>
    <li>
        <p>which explanations on the contribution of the objectives / metrics are the most helpful for users<p>
    </li>
    <li>
        <p>if users appreciate geting recommendations in the environment with details of the items, search and filter, option to block items (by their property), etc.<p>
    </li>
</ul>
