@using static WebAppForMORecSys.Helpers.MovieHelper
@model WebAppForMORecSys.Models.ViewModels.MainViewModel
@{
    ViewData["Title"] = "Home Page";
    string controller = WebAppForMORecSys.Settings.SystemParameters.Controller;
}

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @await Html.PartialAsync("../"+controller+"/Filter")
</div>
<div id="main">
    <div id="openfilterbtn"><button id="openfilterbtn " class="openbtn" onclick="openNav()">&#9776; Open Filter</button></div>
    <div id="closefilterbtn" style="display:none"> <button class="openbtn" onclick="closeNav()">&#9776; Close Filter</button></div>
    <form asp-controller="Movies" asp-action="Index" method="get">
        <div class="form-floating mb-3">
            @await Html.PartialAsync("../Shared/Search")
            @await Html.PartialAsync("../Shared/MetricsFilter", Model.Metrics)
        </div>
    </form>
    <div id="DetailsDiv" style="margin-bottom:5px;"></div>
    <div id="Previews" style="width:100%">
    @foreach (var item in Model.Items)
    {
            @await Html.PartialAsync("../"+controller+"/Preview", new MovieUserUserratings(new Movie(item), Model.CurrentUser, Model.CurrentUserRatings))
    }
    </div>
    
</div>

<script>
    $(document).ready(function () {
        SetAutoComplete("titlesearch", "Movies/GetAllMovieNames");
        SetAutoComplete("idirector", "Movies/GetAllDirectors");
        SetAutoComplete("iactor", "Movies/GetAllActors");

    });
</script>
@await Html.PartialAsync("../"+controller+"/Scripts")


