@using WebAppForMORecSys.Models.ViewModels
@model WebAppForMORecSys.Models.ViewModels.UserBlockRuleViewModel
@{
    ViewData["Title"] = "Manage my block rules";
    string controller = WebAppForMORecSys.Settings.SystemParameters.DomainController;
}
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @await Html.PartialAsync("../"+controller+"/CreateBlockRule")
</div>
<div id="main">

    <h2>MY BLOCK RULES</h2>
    <div id="openfilterbtn"><button id="openfilterbtn " class="openbtn btn" onclick="openNav()">&#9776; Create block rule</button></div>
    <div id="closefilterbtn" style="display:none"> <button class="openbtn btn" onclick="closeNav()">&#9776; Close</button></div>


    <div id="DetailsDiv" style="margin-bottom:5px;"></div>
    <div id="Previews" style="width:100%">
        <div class="PropertyBlocks">
            @await Html.PartialAsync("../"+controller+"/PropertiesBlockRules")
        </div>
        @foreach (var item in Model.Items)
        {
            @await Html.PartialAsync("../"+controller+"/Preview", new PreviewDetailViewModel(item, Model.CurrentUser,
                Model.CurrentUserRatings))
        }
    </div>


</div>

