@model WebAppForMORecSys.Models.Movie
<div class="MovieItem horizontal">
    <div><h4>@Model.Name</h4></div>
    <div id="logo-holder">
        <img  class="image" style="width:95%" src="@Model.ImageURL" />
        <div class="text" style="width:95%; height:100%">@Model.ShortDescription</div>
    </div>
    <div style="margin-top:1px"><b>Director:</b>@Model.Director</div>
</div>
    
