<div id="input-textsearch-group" class="input-group">
    <input class="form-control rounded m-3" aria-required="true" name="search" placeholder="Search" value="@Model.SearchValue" />
    <input type="hidden" name="type" placeholder="Type" value="Search" />
    <input type="image" src="@Url.Content("~/Resources/Images/search.png")" border="0" alt="Submit" />
</div>
